*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.banner {
    width: 100%;
    
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.9)), url(bg2.jpg);
    background-size: cover;
    background-position: center;
    background-color: greenyellow;
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: white;
    font-size: 25px;
    cursor: pointer;
}

.navbar ul li {
    list-style: none;
    margin: 0 20px;
    display: inline-block;
    position: relative;
}

.navbar ul li a {
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
}

.navbar ul li::after {
    content: '';
    height: 1px;
    width: 100%;
    /* background: #009688; */
    position: absolute;
    left: 0;
    bottom: -2px;
    transition: left 0.5s ease;
}

.navbar ul li:hover::after {
    width: 100%;
    background: #fff;
}

.content {
    width: 100%;
    position: absolute;
    top: 40%;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}

.content p {
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    text-transform: capitalize;

}

.content h1 { 
    font-size: 40px;
}

button {
    width: 200px;
    padding: 15px 0px;
    margin: 10px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
    cursor: pointer;
}

.menu-toggle {
    display: none;
    font-size: 25px;
    cursor: pointer;
}


@media only screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        text-align: center;
    }

    .menu-toggle {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .nav-list {
        display: none;
        width: 100%;
        position: absolute;
        top: 60px;
        background-color: #5d27f3;
    }

    .nav-list.show {
        display: flex;
        flex-direction: column;
    }

    .nav-list a {
        padding: 8px;
        width: 100%;
        text-decoration: none;
        color: #fff;
        text-transform: uppercase;
        display: block;
        /* border-bottom: 1px solid #fff; */
    }
}